<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block 'head' %} {% endblock %}
    <title>Pizza da Anna:{% block 'titulo' %} {% endblock %}</title>
    {%load static %}
    <link href="{% static "css/base.css" %}" rel="stylesheet">

</head>

<body>
    {% block conteudo %} {% endblock%}
    <div id='id1'>

    <h1 >{{calabresa}}</h1>
    <h2 id='id2'>{{peperoni}}</h2>
    </div>
</body>
</html>